body {
    background-image: url("../images/avengers.jpg");
    background-repeat: no-repeat;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
#thanos {
    position: relative;
    margin-left: 0;
}
h3 {
    font-style: 'Marvel', sans-serif; 
    font-weight: bolder; 
    font-size: 20px; 
    border: 2px solid goldenrod;
    background: lightgreen;
    color: crimson;
}